{
  "org": "$SERVICE_ORG",
  "label": "$SERVICE_NAME for $ARCH",
  "description": "Provides motion-project.io as service",
  "public": true,
  "url": "https://$SERVICE_DOMAIN/service-$SERVICE_NAME",
  "version": "$SERVICE_VERSION",
  "arch": "$ARCH",
  "sharable": "single",
  "requiredServices": [],
  "userInput": [],
  "deployment": {
    "services": {
      "motion": {
        "image": "$DOCKER_HUB_ID/${ARCH}_$SERVICE_NAME:$SERVICE_VERSION"
      }
    }
  }
}
