{
  "org": "%%SERVICE_ORG%%",
  "label": "%%SERVICE_NAME%% for %%ARCH%%",
  "description": "Provides hardware abstraction layer as service",
  "documentation": "https://github.com/dcmartin/open-horizon/hal/README.md",
  "url": "https://%%SERVICE_DOMAIN%%/%%SERVICE_NAME%%",
  "version": "%%SERVICE_VERSION%%",
  "arch": "%%ARCH%%",
  "public": true,
  "sharable": "multiple",
  "requiredServices": [ ],
  "userInput": [ ],
  "deployment": {
    "services": {
      "hal": {
        "image": "%%DOCKER_HUB_ID%%/%%ARCH%%_%%SERVICE_NAME%%:%%SERVICE_VERSION%%",
        "privileged": true
      }
    }
  }
}
