sudo: true
language: bash
services: 
  - docker
dist: xenial
branches:
  only:
    - master
env:
  - BUILD_ARCH=amd64
  - DEBUG=true BUILD_ARCH=arm64
#  - DEBUG=true BUILD_ARCH=arm
addons:
  apt:
    update: true
    sources:
    - sourceline: deb [arch=amd64,armhf,arm64,ppc64el] http://pkg.bluehorizon.network/linux/ubuntu xenial-updates main
      key_url: 'http://pkg.bluehorizon.network/bluehorizon.network-public.key'
    packages:
    - make
    - curl
    - jq
    - ca-certificates
    - gnupg
    - bluehorizon
    - docker-ce
    - qemu
    - qemu-user-static
    - binfmt-support
    - dpkg-cross

before_install:

before_script:
  # enable QEMU emulation
  - if [ "${BUILD_ARCH:-}" != 'amd64' ]; then sudo docker run --rm --privileged multiarch/qemu-user-static:register --reset; fi
  - if [ "${BUILD_ARCH:-}" != 'amd64' ]; then sudo update-binfmts --display; fi
  # check branch; no secrets for pulls
  - if [ "${TRAVIS_PULL_REQUEST}" = 'false' ]; then echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_LOGIN}" --password-stdin && echo "${HZN_ORG_ID}" > HZN_ORG_ID && echo "${DOCKER_NAMESPACE}" > DOCKER_NAMESPACE && echo "${HZN_EXCHANGE_APIKEY}" > APIKEY && echo "${PRIVATE_KEY}" | base64 --decode > "${HZN_ORG_ID}.key" && echo "${PUBLIC_KEY}" | base64 --decode > "${HZN_ORG_ID}.pem"; fi
  # branch management
  - if [ ! -z "${TAG}" ]; then echo "${TAG}" > TAG; fi
  - if [ "${TRAVIS_PULL_REQUEST:-}" = 'false' ]; then export BRANCH="${TRAVIS_BRANCH:-unknown}"; else export BRANCH="${TRAVIS_PULL_REQUEST_BRANCH:-noPullFound}"; fi
  # - echo "--- INFO -- TRAVIS_BRANCH: ${TRAVIS_BRANCH:-}; PR: ${PR:-none}; BRANCH: ${BRANCH:-none}"

script:
  - make build-service && make test-service

after_success:
  - make push
  - make publish-service
  - make pattern-publish

#before_deploy:
#  - make nodes-clean
#  - make nodes-list
#
#deploy:
#  - make nodes
#
#after_deploy:
#  - make nodes-list
#  - make nodes-test
#
#
