#!/bin/bash
echo '%%DEVICE_NAME%%' > /etc/hostname
sed -i 's/%%CLIENT_HOSTNAME%%/%%DEVICE_NAME%%/g' /etc/hosts
hostname %%DEVICE_NAME%%

echo 'spawn passwd %%CLIENT_USERNAME%%' > passwd.exp
echo 'for {} 1 {} { expect {' >> passwd.exp
echo '  "Enter new UNIX password:" { send "%%DEVICE_TOKEN%%\r" }' >> passwd.exp
echo '  "Retype new UNIX password:" { send "%%DEVICE_TOKEN%%\r" }' >> passwd.exp
echo '  "password updated successfully" { send_user "success" ; exit }}}' >> passwd.exp

RESULT=$(expect -f passwd.exp |& egrep success)

if [ -z "${RESULT}" ]; then
  # report failure
  echo "failure"
else
  echo 'ChallengeResponseAuthentication no' > sshd_config
  echo 'PasswordAuthentication no' >> sshd_config
  echo 'UsePAM no' >> sshd_config
  mv sshd_config /etc/ssh/sshd_config
  /etc/init.d/ssh restart 2> /dev/null
  # report success
  echo "${RESULT}"
fi
